/* clear some browser CSS... */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Layout divisions and BG colors */
#title-bar {
    background: linear-gradient(180deg, #D9D9D9 0%, #FFF 33%, #D7D7D7 97%);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.75);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title-bar > p {
    /* height: 15px; */
    /* width: 255px; */
    color: #2D2D2D;
    font-family: Lato;
    font-size: 15px;
    line-height: 18px;
    margin: 0 10px;
}

#room-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100% - 50px);
}

main {
    background: linear-gradient(179.43deg, #FFF 0%, rgba(157,144,144,0.9) 100%);
    height: 100%; width: 100%;/* the viewer needs a specific size while the pt container scrolls around inside */
}

main #input-bar { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6px;
}

main input {
    padding: 12px;
}

main #input-wrapper {
    height: 110px;
    width: 595px;
    border-radius: 8px;
    background-color: rgba(30,30,30,0.85);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
}

main input::-webkit-input-placeholder {
    opacity: 0.77;
    color: #2D2D2D;
    font-family: "Lato Light";
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
}

main #drawer-handle {
    height: 80px; 
    width: 5px;
    border-radius: 8px;
    background-color: #575757;
    margin: 0 10px;
}

main #chest {
    height: 110px;
    width: 210px;
    border-radius: 8px;
    background-color: rgba(30,30,30,0.85);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 10px; */
    /* overflow-y: auto; */
}

.pearl {
    height: 40px; width: 40px;
    border-radius: 100%;
    background: radial-gradient(circle, #FFF 0%, #626262 77%, #717171 98%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.67);
    margin: 10px 0 0 10px;
}

#chat-record {
    background: linear-gradient(180deg, #1A1A1A 0%, #151515 87%);
    box-shadow: inset -5px 2px 3px 0 rgba(0,0,0,0.5);
    width: 315px;
}